.variable {
  background: blueviolet; }

body {
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: "Courgette", cursive; }

h1 {
  color: #ff00b3;
  font-size: 50px; }

h2 {
  color: blueviolet;
  font-size: 50px; }

.lola__Uno {
  color: #e22b9c;
  font-size: medium;
  animation-name: lady;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 20s;
  animation-delay: 1s; }

@keyframes lady {
  50% {
    background-color: #ba8fc3; }
  50% {
    background-image: linear-gradient(#97487f black); } }

.pepito {
  color: #a52a7c;
  font-size: medium; }

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 100vw;
  background-color: #e87373;
  width: 100vw;
  padding: 0 5rem;
  background-image: linear-gradient(45deg, #837a9e, transparent); }

nav {
  width: 50vw; }

.navbar__List {
  display: flex;
  flex-direction: row;
  list-style-type: none; }

.navbarlistlinks {
  padding: .5rem; }

.navbar__Logobox {
  display: flex;
  flex-direction: row;
  width: 50vw;
  justify-content: flex-start; }

.navbar__Logoimg {
  width: 30%;
  height: auto; }

.mainPortada {
  width: 80%;
  background-color: beige;
  height: 13rem; }

.mainBox {
  background-image: url(../archivos/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 1rem 4rem; }

.mainText {
  text-align: center;
  font-weight: 700px; }

#compra {
  color: brown;
  width: auto;
  height: auto;
  background-color: coral; }

#parrafo {
  width: auto;
  text-align: center;
  display: flex;
  padding-top: 200px;
  padding-right: 80px;
  padding-left: 80px;
  padding: 50px; }

#borde {
  margin-top: 5px; }

#footer {
  display: flex;
  flex-direction: row;
  justify-content: start;
  height: auto;
  width: auto;
  flex-basis: auto;
  align-content: center;
  padding: 100px 1px;
  font-family: 'Courgette', cursive;
  background-image: linear-gradient(45deg, #908282, transparent); }

#flex {
  display: flex;
  flex-direction: row-reverse;
  /* width: fit-content; */
  background: aquamarine;
  justify-content: flex-end;
  background-image: linear-gradient(45deg, #ba8fc3, #e9d6ec); }

@media (max-width: 480px) {
  .navBar {
    width: 100%;
    background-color: blueviolet; } }

.imagen {
  width: 200px;
  height: 200px;
  border: 2px solid palevioletred; }

.contenido_utiliza {
  display: flex;
  flex-direction: row; }

.contenido__Dos {
  display: flex;
  flex-direction: row-reverse; }

.dato {
  display: flex;
  flex-direction: column;
  flex: auto; }

.carousel_main {
  width: 100 vw;
  height: 20%; }

.box__Uno {
  background-color: pink;
  width: 350px;
  text-align: center;
  margin: top; }

.box__Dos {
  background-color: blueviolet;
  width: 700px; }

body, p {
  font-size: 1.2rem;
  text-align: center; }
